*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("electro.jpg");
    background-size: cover;
    background-position: center;
}

.sign-up-form {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 20px;
    margin: 0%;
    text-align: center;
    
}

.sign-up-form h1 {
    color: #B22222;
    margin-bottom: 30px;
}

.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none
}

button {
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.signup-btn {
    background-color: #DC143C;
}

.facebook-btn{
    background-color: #FF0000;
}

hr {
    margin-top: 20px;
    width: 80%;
}

.or {
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}
/*header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("electro.jpg");
    height: 115vh;
    background-size: cover;
    background-position: center;
}
*/
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: #fff;
    color: #00;
}

ul li.active a {
    background-color: #fff;
    color: #000;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.title h1 {
    color: #fff;
    font-size: 70px;
}